// Главное меню
//
// .main-menu
//   .main-menu__item
//   .main-menu__avatar

.main-menu {

}

.main-menu__item {
  cursor: pointer;
  user-select: none;
}

.main-menu__avatar {
  margin: 0px;
  padding: 0px;
  width: 150px;
  height: 50px;

  cursor: pointer;
}
