// Страница пользователей
//
// .users-page
//   .users-page__title
//   .users-page__body

.users-page {

}

.users-page__title {
  font-size: @base-font-size;
  color: red;
}

// .users-page__body
//   .users-page__user-wrapper
//     .users-page__user
//       .users-page__user-photo

.users-page__body {
  margin-top: 35px;
}

.users-page__user-wrapper {
  margin-bottom: 20px;
}

.users-page__user {

}

.users-page__user-photo {

}

// .users-page__body
//   .users-page__form
//     .users-page__form-item
//       .users-page__form-item-offer
//       .users-page__form-item-position
//       .users-page__form-item-users
//     .users-page__form-notification

.users-page__form {

}

.users-page__form-item {

}

.users-page__form-item-position {

}

.users-page__form-item-users {

}

.users-page__form-notification {
  text-align: center;
  color: green;
}

