// Страница опыта и технологий
//
// .experience-page
//   .experience-page__title
//   .experience-page__body

.experience-page {

}

.experience-page__title {
  font-size: @base-font-size;
  color: red;
}

.experience-page__body {
  margin-top: 35px;
}

// .experience-page__title
//   .experience-page__photo-wrapper
//     .experience-page__photo-react
//     .experience-page__photo-redux
//     .experience-page__photo-angular

.experience-page__photo-wrapper {
  text-align: center;
}

.experience-page__photo-react {
  width: 150px;
  height: 40px;
}

.experience-page__photo-redux {
  width: 150px;
  height: 50px;
}

.experience-page__photo-angular {
  width: 150px;
  height: 45px;
}

// .experience-page__body
//   .experience-page__member-wrapper
//     .experience-page__member
//       .experience-page__member-photo

.experience-page__member-wrapper {
  margin-bottom: 20px;
}

.experience-page__member {

}

.experience-page__member-photo {

}

// .experience-page__body
//   .experience-page__form
//     .experience-page__form-item
//       .experience-page__form-item-offer
//       .experience-page__form-item-position
//       .experience-page__form-item-experience
//     .experience-page__form-notification

.experience-page__form {

}

.experience-page__form-item {

}

.experience-page__form-item-position {

}

.experience-page__form-item-experience {

}

.experience-page__form-notification {
  text-align: center;
  color: green;
}

