// Страница технологий
//
// .technology-page
//   .technology-page__title
//   .technology-page__body

.technology-page {

}

.technology-page__title {
  font-size: @base-font-size;
  color: red;
}

.technology-page__body {
  margin-top: 35px;
}

// .technology-page__title
//   .technology-page__photo-wrapper
//     .technology-page__photo-react
//     .technology-page__photo-redux
//     .technology-page__photo-angular

.technology-page__photo-wrapper {
  text-align: center;
}

.technology-page__photo-react {
  width: 150px;
  height: 40px;
}

.technology-page__photo-redux {
  width: 150px;
  height: 50px;
}

.technology-page__photo-angular {
  width: 150px;
  height: 45px;
}

// .technology-page__body
//   .technology-page__member-wrapper
//     .technology-page__member
//       .technology-page__member-photo

.technology-page__member-wrapper {
  margin-bottom: 20px;
}

.technology-page__member {

}

.technology-page__member-photo {

}

// .technology-page__body
//   .technology-page__form
//     .technology-page__form-item
//       .technology-page__form-item-offer
//       .technology-page__form-item-position
//       .technology-page__form-item-technology
//     .technology-page__form-notification

.technology-page__form {

}

.technology-page__form-item {

}

.technology-page__form-item-position {

}

.technology-page__form-item-technology {

}

.technology-page__form-notification {
  text-align: center;
  color: green;
}

