//
// Fonts importing
//

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf");
  src:
    url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Shlop";
  src: url("/assets/fonts/shlop rg.ttf");
  src:
    url("/assets/fonts/shlop rg.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

