body, div, p, span {
  font-family: @default-font-family;
  font-size: @base-font-size;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: @base-font-size;
  margin: 0;
  padding: 0;
}

