// Страница выполненных проектов
//
// .projects-page
//   .projects-page__title
//   .projects-page__body

.projects-page {

}

.projects-page__title {
  font-size: @base-font-size;
}

.projects-page__body {

}

.projects-page__media-wrapper {
  margin-bottom: 20px;
}

.projects-page__media {

}

.projects-page__photo {

}

// .projects-page__body
//   .projects-page__form
//     .projects-page__form-item
//       .projects-page__form-item-offer
//       .projects-page__form-item-position
//       .projects-page__form-item-projects
//     .projects-page__form-notification

.projects-page__form {
  margin-bottom: 80px;
}

.projects-page__form-item {

}

.projects-page__form-item-position {

}

.projects-page__form-item-projects {

}

.projects-page__form-notification {
  text-align: center;
  color: green;
}
