// Страница скриншотов
//
// .screen-shoots-page
//   .screen-shoots-page__title
//   .screen-shoots-page__body

.screen-shoots-page {

}

.screen-shoots-page__title {
  font-size: @base-font-size;
}

.screen-shoots-page__body {

}

.screen-shoots-page__media-wrapper {
  margin-bottom: 20px;
}

.screen-shoots-page__media {

}

.screen-shoots-page__photo {

}

// .screen-shoots-page__body
//   .screen-shoots-page__form
//     .screen-shoots-page__form-item
//       .screen-shoots-page__form-item-offer
//       .screen-shoots-page__form-item-position
//       .screen-shoots-page__form-item-screen-shoots
//     .screen-shoots-page__form-notification

.screen-shoots-page__form {

}

.screen-shoots-page__form-item {

}

.screen-shoots-page__form-item-position {

}

.screen-shoots-page__form-item-screen-shoots {

}

.screen-shoots-page__form-notification {
  text-align: center;
  color: green;
}
