// Страница с ошибкой
//
// .errors-page
//   .errors-page__title
//     .errors-page__title-status
//     .errors-page__title-text
//   .errors-page__body

.errors-page {

}

.errors-page__title {
  font-size: @base-font-size;
}

.errors-page__body {
  margin-top: 40px;
}

.errors-page__title-status {
  font-family: @poster-font-family;
  font-size: @base-font-size * 4;
  color: gray;
  margin-bottom: 30px;
}

.errors-page__title-text {
  font-size: @header-font-size;
  color: gray;
}

.errors-page--center {
  text-align: center;
}
