// Страница входа для администрирования
//
// .login-page
//   .login-page__title
//   .login-page__body
//   .login-page__form

.login-page {

}

.login-page__title {
  font-size: @base-font-size;
  color: red;
}

.login-page__body {
  margin-top: 40px;
}

.login-page__form {
  margin-top: 40px;
}

.login-page__form-item-email {

}

textarea.login-page__form-item-password {
  height: 200px;
}

.login-page__form-notification {
  text-align: center;
  color: green;
}
