// Главная страница приложения
//
// .main-page
//   .main-page__title
//   .main-page__body

.main-page {

}

.main-page__title {
  font-size: @base-font-size;
  color: red;
}

.main-page__body {
  margin-top: 40px;
}

.main-page__carousel-wrapper {

}

.main-page__carousel {
  width: 500px;
  margin: auto;
}

.main-page__photo-avatar {
  //width: 500px;
  //height: 300px;
}
