// Страница контактов
//
// .contacts-page
//   .contacts-page__title
//   .contacts-page__body

.contacts-page {

}

.contacts-page__title {
  font-size: @base-font-size;
  color: red;
}

.contacts-page__body {

}

.contacts-page__form {
  margin-top: 40px;
}

.contacts-page__photo {
  width: 150px;
  height: 150px;
}

.contacts-page__photo-wrapper {
  text-align: center;
}

.contacts-page__form-item-email {

}

textarea.contacts-page__form-item-offer {
  height: 200px;
}

.contacts-page__form-notification {
  text-align: center;
  color: green;
}
